<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome to Your Finance Back</title>
  </head>
  <body>
    <div>
      <p>Hi, <%= @user.first_name%></p>
      <p>You have 6 hours to reset your password. <br>
      <%= link_to "please first click this link to reset your password", edit_password_path(@user, reset_password_token: @token), html_options = { style: "font-weight: bold" } %></p>
      <p>Thank you!</p>
    </div>
  </body>
</html>